/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: "Explora", cursive;
  background-color: #e8ceb0;
  height: 100%;
}

/* Version styles */
#version {
  font-size: 0.5rem;
}

/* End screen styles */
.endScreen {
  position: absolute;
  z-index: 101;
  width: auto;
}

.replay {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: goldenrod;
  font-size: 1.5rem;
}

/* Logo container styles */
.logocontainer {
  width: auto;
  height: auto;
}

/* Game container styles */
#gamecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 90vh;
  padding: 1%;
}

/* Coin container styles */
.coinContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Coin styles */
.coinImg {
  width: 200px;
  height: 200px;
  border: 3px solid black;
}

.coinMove1,
.coinMove2,
.coinMove3 {
  width: 150px;
  height: 150px;
  border: 3px solid black;
}

/* Game instructions styles */
#game-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 0.8rem 1rem;
  background-color: black;
  color: goldenrod;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* Game board styles */
#game-board {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Canvas styles */
canvas {
  border: 2px solid black;
  visibility: hidden;
  display: none;
  margin-left: 300px;
}

/* Start, play, and win instructions styles */
#startplaywin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
}

#startplaywin h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

#startplaywin p {
  margin: 0;
}

#startplaywin ul {
  margin-left: 1rem;
  list-style-type: none;
  font-size: 1rem;
}

#startplaywin li {
  margin: 0.5rem 0;
}

#startplaywin em {
  font-style: italic;
}

/* Start coin animation styles */
#flip-button,
#flip-moves {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: goldenrod;
  font-size: 1.5rem;
  margin: 1rem;
}